{{ define "title" }}Poems | Brian Barry{{ end }}

{{ define "main" }}
  {{ $pages := sort .Site.RegularPages "Date" "asc" }}
  {{ $lastYear := "" }}
  {{ range $pages }}
    {{ if ne .Params.year $lastYear }}
      <h3>{{ .Params.year }}</h3>
      {{ $lastYear = .Params.year }}
    {{ end }}
    {{ if .Params.subtitle }}
      <h2><a class="poem-link" href="{{ .RelPermalink }}">{{ .Title }} - {{ .Params.subtitle }}</a></h2>
    {{ else if .Title }}
      <h2><a class="poem-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ end }}
    {{ .Content }}
  {{ end }}
{{ end }}
